*:focus {
    outline: none !important;
}

.main-content {
    padding: 70px 15px;
}

.center {
    text-align: center;
}

.navbar-nav a {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

span.glyphicon {
    cursor: pointer;
}

table {

    td {
        vertical-align: middle !important;
    }
    .alert {
        margin-bottom: 2px;
        padding: 5px;

        &.alert-danger {
            margin-left: 15px;
        }
    }
}

.bg-less-risk {
    background-color: #FDCA77;
}
.bg-risk {
    background-color: #FF8181;
}

.word-break {
    word-break: break-all;
}
.nowrap {
    white-space: nowrap;
}