<form class="user-form" method="post" ng-submit="vm.sendRequest()">
    <h2 class="user-form-heading">{{ vm.ln()['create-account'] }}</h2>
    <label for="inputFirstName" class="sr-only">{{ vm.ln()['label-first-name'] }}</label>
    <input type="text" id="inputFirstName" class="form-control" placeholder="{{ vm.ln()['label-first-name'] }}"
           required="" autofocus="" ng-model="vm.data.firstName">

    <label for="inputLastName" class="sr-only">{{ vm.ln()['label-last-name'] }}</label>
    <input type="text" id="inputLastName" class="form-control" placeholder="{{ vm.ln()['label-last-name'] }}"
           required="" ng-model="vm.data.lastName">

    <label for="inputEmail" class="sr-only">{{ vm.ln()['label-email'] }}</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="{{ vm.ln()['label-email'] }}"
           required="" ng-model="vm.data.email">

    <label for="inputPassword" class="sr-only">{{ vm.ln()['label-password'] }}</label>
    <input type="password" id="inputPassword" class="form-control"
           placeholder="{{ vm.ln()['label-password'] }}"
           required="" ng-model="vm.data.password">

    <label for="inputPasswordConfirm" class="sr-only">{{ vm.ln()['label-confirm-password'] }}</label>
    <input type="password" id="inputPasswordConfirm" class="form-control"
           placeholder="{{ vm.ln()['label-confirm-password'] }}"
           required="" ng-model="vm.data.passwordConfirm">

    <div class="form-group has-error" ng-show="vm.errors.length > 0">
        <label class="control-label" ng-repeat="error in vm.errors">{{ error }}</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ vm.ln()['submit'] }}</button>
    <div class="sign-up-label">
        <a href="#user/log-in">{{ vm.ln()['back-to-login'] }}</a>
    </div>
</form>