<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ ln()['main-title'] }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': path === 'users'}">
                    <a href="#/users">{{ ln()['users'] }}</a>
                </li>
                <li ng-class="{'active': path === 'products'}">
                    <a href="#/products">{{ ln()['products'] }}</a>
                </li>
                <li ng-class="{'active': path === 'units'}">
                    <a href="#/units">{{ ln()['units'] }}</a>
                </li>
                <li ng-class="{'active': path === 'product-groups'}">
                    <a href="#/product-groups">{{ ln()['product-groups'] }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" ng-click="doNothing($event)" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">{{ ln()['account-menu'] }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active': path === 'user/settings'}">
                            <a href="#/user/settings">test{{ ln()['user-settings'] }}</a>
                        </li>
                        <li>
                            <a href="#/user/change-pass">{{ ln()['change-pass'] }}</a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">{{ ln()['log-out'] }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
