<div class="modal fade">
    <div class="modal-dialog " ng-class="size()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body" ng-transclude></div>
            <div class="modal-footer">
                <button ng-repeat="b in buttons" type="{{ b.buttonType }}"
                        class="btn {{ b.class }}" ng-click="buttonClick($event)">{{ b.caption }}</button>
            </div>
        </div>
    </div>
</div>