.two-lines {
    label {
        height: 40px;
    }
}

.tag-bar .btn {
    margin: 0 5px 5px 0;
    text-transform: capitalize;
}

.take-products-list {
    margin-top: 15px;

    .input-group-addon {
        width: 60px;
    }
    hr {
        width: 100%;
    }
}