<cl-header></cl-header>
<div id="claim" class="rounded text-center">
    <div class="main-head">
        <h1 class="text-left">{{ vm.config.title }}</h1>
        <div class="tooltip-sign" ng-if="vm.config.hint"></div>
        <div class="tooltip-content rounded">{{ vm.config.hint }}</div>
    </div>
    <section>
        <cl-add-claim claim-type="vm.config.claimType" tags="vm.config.tags"></cl-add-claim>
        <div class="line"></div>

        <div class="col-5 no-padding-left text-left" ng-if="vm.config.claimType !== 'Discussion'">
            <cl-tag-filter ng-if="vm.claimsInfo().opened.length > 0 && vm.claimsInfo().availableTags.length > 1"
                           tags="vm.claimsInfo().availableTags" active-tag="vm.activeTag"></cl-tag-filter>
            <h2>Pending:</h2>
            <div class="claim-comments-container smaller rounded js-class">
                <div class="claim-comments-wrapper smaller" ng-if="vm.claimsInfo().opened.length === 0">
                    There are no pending claims.
                </div>
                <div class="claim-comments-wrapper open smaller"
                     ng-repeat="c in vm.claimsInfo().opened"
                     ng-class="{'last': $first}"
                     ng-show="c.claimTag === vm.activeTag || vm.activeTag === 'All'">
                    <cl-claim-item c="c" is-hr="vm.isHr" opened="true"
                                     modal-claim="vm.modalClaim" modal-action="vm.modalAction"
                                     modal-show="vm.modalShow"></cl-claim-item>
                </div>
            </div>
        </div>
        <div class="col-5 no-padding-right text-left" ng-if="vm.config.claimType !== 'Discussion'">
            <h2>Archive:</h2>
            <div class="claim-comments-container smaller rounded">
                <div class="claim-comments-wrapper smaller" ng-if="vm.claimsInfo().closed.length === 0">
                    There are no archived claims.
                </div>
                <div class="claim-comments-wrapper smaller"
                     ng-repeat="c in vm.claimsInfo().closed">
                    <cl-claim-item c="c" is-hr="vm.isHr" opened="false"></cl-claim-item>
                </div>
            </div>
        </div>
        <cl-discussions-list opened="vm.claimsInfo().opened"
                             ng-if="vm.config.claimType === 'Discussion'"></cl-discussions-list>
    </section>
</div>
<cl-claim-modal ng-show="vm.modalShow" show="vm.modalShow" show-tag="true"
                ng-if="vm.config.claimType !== 'Discussion'"
                modal-claim="vm.modalClaim" modal-action="vm.modalAction"></cl-claim-modal>